body {
	margin: 0 auto;
	width: 864px;
	background-color : white;
}

p {
	line-height : 18px;
	padding : 6px;
	margin : 0 0 18px;
}

div {
	margin : 0 3px;
}

#somediv {	
	background-color : green;
	height : 54px;
}